<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoyuanbackend.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.taoyuanbackend.pojo.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="authorPhoto" column="author_photo" jdbcType="VARCHAR"/>
            <result property="articleBody" column="article_body" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
            <result property="articleApproved" column="article_approved" jdbcType="INTEGER"/>
            <result property="articleComment" column="article_comment" jdbcType="INTEGER"/>
            <result property="articleDes" column="article_des" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        author_photo,article_body,create_time,
        update_time,article_approved,article_comment,
        article_des
    </sql>
</mapper>
