@font-face {
	font-family: "iconfont";
	/* Project id 3912482 */
	src: url('//at.alicdn.com/t/c/font_3912482_37iet081qm6.woff2?t=1679322971602') format('woff2'),
		url('//at.alicdn.com/t/c/font_3912482_37iet081qm6.woff?t=1679322971602') format('woff'),
		url('//at.alicdn.com/t/c/font_3912482_37iet081qm6.ttf?t=1679322971602') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tyxiaoshoujieduanshengqian:before {
	content: "\e66f";
}

.icon-tytupian:before {
	content: "\e8ba";
}

.icon-tyaixin_shixin:before {
	content: "\eca2";
}

.icon-tyshoucang1:before {
	content: "\e8c6";
}

.icon-typinglun:before {
	content: "\e60e";
}

.icon-tyaixin1:before {
	content: "\eca1";
}

.icon-tysanjiaoxing:before {
	content: "\e615";
}

.icon-tyxiasanjiaoxing:before {
	content: "\100e5";
}

.icon-tywodeyouhuijuan:before {
	content: "\e7ee";
}

.icon-tylogout:before {
	content: "\e64b";
}

.icon-tyweizhi:before {
	content: "\e61a";
}

.icon-tyguanbi:before {
	content: "\e659";
}

.icon-tykefu:before {
	content: "\e65a";
}

.icon-tyshoucang:before {
	content: "\e8b9";
}

.icon-tyfenlei:before {
	content: "\e66c";
}

.icon-typinpaizhekou:before {
	content: "\e613";
}

.icon-tyfahuo:before {
	content: "\e619";
}

.icon-tyaixin:before {
	content: "\e6c8";
}

.icon-tyquanbu:before {
	content: "\e61b";
}

.icon-tyvoicefill:before {
	content: "\e6f0";
}

.icon-tywind-smile:before {
	content: "\e7f9";
}

.icon-tyjiahao:before {
	content: "\eaf3";
}

.icon-tyfengjing:before {
	content: "\e640";
}

.icon-tygouwuche:before {
	content: "\e73d";
}

.icon-tyxiaoxi:before {
	content: "\e8bd";
}

.icon-tygouwuche-copy:before {
	content: "\100e3";
}

.icon-tyxiaoxi-copy:before {
	content: "\100e4";
}

.icon-tytaozi:before {
	content: "\e611";
}

.icon-tywenhua:before {
	content: "\e681";
}

.icon-tydaogoushangpin:before {
	content: "\e63f";
}

.icon-tyminsu:before {
	content: "\100e2";
}

.icon-ty31daifahuo:before {
	content: "\e600";
}

.icon-ty31daishouhuo:before {
	content: "\e601";
}

.icon-tydaifukuan:before {
	content: "\e603";
}

.icon-tytuikuan:before {
	content: "\e8ab";
}

.icon-tydaipingjia:before {
	content: "\e646";
}

.icon-tyqianbao:before {
	content: "\eb1a";
}

.icon-tydengji:before {
	content: "\e60d";
}

.icon-tyfemale:before {
	content: "\e765";
}

.icon-tymale:before {
	content: "\e768";
}
